.share{
		background-color: #FFFFFF;
		height: 100px;
		width;auto;
		padding: 10px 15px;
	}
	.share .shareList{
		display: inline-block;
		margin-right: 10px;
	}
	.share .shareItem{
		width: 60px;
		height: 60px;
		border-radius: 50px;
		padding: 10px;
		margin: auto;
	}
	.share .shareItem .icon{
		color: #fff;
		font-size: 40px;
		margin-bottom: 10px;
	}
	.share .shareList p{
		text-align: center;
	}