/*首页样式*/
.home-content .mui-slider img{display: block;}
.home-content .home-menu{height: 20px;background: #fff;display: table;width: 100%;padding: 10px 0px;margin-bottom: 10px;}
.home-content .home-menu:before{height: 0px;}
.home-content .home-menu a{display: table-cell;border-right: #ccc 1px solid;vertical-align: middle;text-align: center;font-size: 12px;}
.home-content .home-menu a:last-child{border-right: none;}
.home-content .home-menu a .iconfont{position: relative;top: 1px;font-size: 14px;}

.home-content #jobList{line-height: 150%;}
.home-content #jobList .mui-media-object{max-width: 60px;height: 60px;}
.home-content #jobList .job-title{font-size: 14px;font-weight: bold;color: #333;line-height: 100%;margin-bottom: 4px;}
.home-content #jobList .job-mid{font-size: 12px;}
.home-content #jobList .job-mid span .mui-icon{font-size: 14px;margin-left: 10px;}
.home-content #jobList .job-mid font .mui-icon{font-size: 16px;}
.home-content #jobList .job-btm{font-size: 12px;}
.home-content #jobList .job-btm .job-wage{font-weight: bold;color: #db4437;}
.home-content #jobList .job-btm .job-status{float: right;color: #ccc;height: 18px;line-height: 16px;border-radius: 2px;border: #ccc 1px solid;font-size: 10px;padding-right: 3px;}
.home-content #jobList .job-btm .job-status .iconfont{font-size: 14px;background: #ccc;color: #fff;height: 100%;line-height: 16px;margin-right: 3px;float: left;padding: 0px 1px;}
.home-content #jobList .job-btm .job-status.status-apply{border-color: #f4b400;color: #f4b400;}
.home-content #jobList .job-btm .job-status.status-apply .iconfont{background: #f4b400;}
.home-content #noneTips{text-align: center;color: #999;font-size: 12px;display: none;}
.home-content #noneTips .mui-icon{font-size: 100px;color: #aaa;margin: 50px 0px 0px;}

/*任务列表样式*/
.task-content .task-menu{height: 40px;padding: 10px 0px;font-size: 12px;text-align: center;}
.task-content .task-menu:before{height: 0px;}
.task-content .task-menu #menuMyTask{width: 50%;float: left;border-right: #ccc 1px solid;}
.task-content .task-menu #menuPointTask{width: 50%;float: right;}
.task-content .task-menu span{margin: 0px 5px;color: #0F9D58;}

.task-content #taskList{margin-top: 15px;display: none;}
.task-content #taskList .mui-media-object{max-width: 50px;width: 50px;height: 50px;border-radius: 3px;font-size: 8px;text-align: center;line-height: 100%;}
.task-content #taskList .mui-media-object .iconfont{font-size: 28px;line-height: 100%;margin-top: 3px;}
.task-content #taskList .mui-media-object .iconfont.icon-download{color: #f4b400;}
.task-content #taskList .mui-media-object .iconfont.icon-attention{color: #4285f4;}
.task-content #taskList .mui-media-object .iconfont.icon-magnifier{color: #0F9D58;}
.task-content #taskList .mui-media-object .iconfont.icon-other{color: #db4437;}
.task-content #taskList .task-title{font-size: 14px;font-weight: bold;color: #333;margin-bottom: 5px;}
.task-content #taskList .task-btm{font-size: 12px;}
.task-content #taskList .task-btm .task-wage{font-weight: bold;color: #db4437;}
.task-content #taskList .task-btm .task-status{float: right;color: #ccc;height: 18px;line-height: 16px;border-radius: 2px;border: #ccc 1px solid;font-size: 10px;padding-right: 3px;}
.task-content #taskList .task-btm .task-status .iconfont{font-size: 14px;background: #ccc;color: #fff;height: 100%;line-height: 16px;margin-right: 3px;float: left;padding: 0px 1px;}
.task-content #taskList .task-btm .task-status.yellow{border-color: #f4b400;color: #f4b400;}
.task-content #taskList .task-btm .task-status.yellow .iconfont{background: #f4b400;}
.task-content #noneTips{text-align: center;color: #999;font-size: 12px;display: none;}
.task-content #noneTips .mui-icon{font-size: 100px;color: #aaa;margin: 50px 0px 0px;}

/*全局loading动画样式*/
.loading{width: 100%;height: 100%;position: fixed;top: 44px;background: #f1f1f1;z-index: 1000;}
.loading div{width:60px;height:40px;position: absolute;top: 50%;left:50%;margin-top: -64px;margin-left: -25px;}
.loading div span{display:inline-block;margin: 0px 2px;width:8px;height:100%;border-radius:4px;background:#90ee90;-webkit-animation:load 1s ease infinite}
@-webkit-keyframes load{0%,100%{height:40px;background:#add8e6}50%{height:70px;margin:-15px 0;background:#90ee90}}
.loading div span:nth-child(2){-webkit-animation-delay:.2s}.loading span:nth-child(3){-webkit-animation-delay:.4s}
.loading div span:nth-child(4){-webkit-animation-delay:.6s}.loading span:nth-child(5){-webkit-animation-delay:.8s}

/*分享样式*/
.shareBox{background-color: #FFFFFF;padding: 10px 15px;}
.shareBox .shareItem{display: inline-block;margin-right: 10px;text-align: center;font-size: 12px;color: #333;}
.shareBox .shareItem .mui-icon{border-radius: 5px;padding: 10px;color: #fff;font-size: 32px;margin-bottom: 5px;display: block;}
.shareBox .shareItem#weixin .mui-icon{background-color: #35D151;}
.shareBox .shareItem#pengyouquan .mui-icon{background-color: #00D05C;}
.shareBox .shareItem#qq .mui-icon{background-color: #00A2EB;}