<!DOCTYPE html>
<html>

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/mui.imageviewer.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/chat.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/setting.js" type="text/javascript" charset="utf-8"></script>
		<script>
			window["SCHEMETYPE"] = "http"; //融云规定DCloud加上的头
			var unread = new Array(),
				rid, uid,record = new Array(),
				lastIndex, curTime;
			var timestamp,currentVoice = new Array();			
		</script>
		<script src="../../js/app.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/mui.imageViewer.js"></script>
		<script src="../../js/arttmpl.js"></script>
		<script src="../../js/RongIMLib-2.2.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://cdn.ronghub.com/RongIMVoice-2.1.3.min.js"></script>
		<script src="../../js/RongIMClient.init.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/emoji.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/message.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/RongIMClient.function.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/message.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/message.send.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">
			.icon-zhongxinfasong {
				font-size: 16px !important;
				font-weight: 500;
				color: red;
			}
			
			.resend {
				position: relative;
				bottom: 25px;
				right: 10px;
			}
			
			.mui-pull-right {
				width: 30px;
				height: 30px;
				margin-top: 13px;
			}
			
			.mui-scroll-wrapper {
				padding-bottom: 53px;
				margin-top: 40px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-arrowleft mui-pull-left"></a>
			<h1 class="mui-title"></h1>
			<a class="mui-pull-right"><span class="iconfont own-left-nav-color icon-qunshezhi"></span></a>
		</header>
		<pre id='h'></pre>
		<script id='msg-template' type="text/template">
			<p class="msg-more">查看更多消息</p>			
			<% for(var i in record){var item=record[i]; %>
			<p class="msg-time">
				<%=(item.time)%>
			</p>
			<div class="msg-item <%= (item.sender=='self'?' msg-item-self':'') %>" msg-type='<%=(item.type)%>' msg-isloaded='<%=(item.isLoaded)%>' msg-content='<%=(item.content)%>'>
				<img class="msg-avatar" src=" <%= (item.sender=='self'? item.localHeader : item.senderImg) %> " />
				<div class="msg-main">
					<p class="self-name">
						<%=(item.sendername)%>
					</p>
					<% if(item.type=='ImageMessage' ) { %>
					<div class="msg-content" style="background-color: transparent;border-color: transparent;">
						<div class="msg-content-inner">
							<img class="msg-content-image" src="<%=(item.content)%>" style="max-width: 100px;" />
						</div>
					</div>
					<% }else if(item.type=='TextMessage' ) { %>
						<div class="msg-content">
						<div class="msg-content-inner">
						<%=( item.content|| '&nbsp;&nbsp;') %>
						</div>
						<div class="msg-content-arrow"></div>
					</div>
						<% } else if(item.type=='VoiceMessage' ) { %>
						<div class="msg-content">
						<div class="msg-content-inner">
							<span class="mui-icon mui-icon-mic" style="font-size: 20px;font-weight: bold;"></span>
							<span class="play-state">点击播放</span>
						</div>
						<div class="msg-content-arrow"></div>
					</div>
						<% } %>
					<% if(item.isSended == false && item.sender == 'self') { %>
					<span class="iconfont icon-zhongxinfasong resend"></span>
					<% } %>
				</div>
				<div class="mui-item-clear"></div>
			</div>
			<% } %>

		</script>

		<div class="mui-content ">
			<div id='msg-list'> </div>
		</div>

		<footer><div class="footer-left">
				<i id='msg-image' class="mui-icon mui-icon-camera " style="font-size: 30px;"></i>
			</div>

			<div class="footer-center">
				<textarea id='msg-text' type="text" class='input-text'></textarea>
				<button id='msg-sound' type="button" class='input-sound' style="display: none;">按住说话</button>
			</div>

			<label for="" class="footer-cenRight">
				<i id='msg-face' class="iconfont icon-biaoqing" ></i>
			</label>
			<label for="" class="footer-right">
				<i id='msg-type' class="iconfont icon-yuyin" ></i>
			</label>
		</footer>

		<div class="faceBox fall">
			<span class="RongIMExpression_rinning  facelist" name="[大笑]">😀</span>
			<span class="RongIMExpression_rin  facelist" name="[露齿而笑]">😁</span>
			<span class="RongIMExpression_oy  facelist" name="[欢乐]">😂</span>
			<span class="RongIMExpression_mile  facelist" name="[微笑]">😃</span>
			<span class="RongIMExpression_weat_smile  facelist" name="[赔笑]">😅</span>
			<span class="RongIMExpression_atisfied  facelist" name="[满意]">😆</span>
			<span class="RongIMExpression_nnocent  facelist" name="[无辜]">😇</span>
			<span class="RongIMExpression_miling_imp  facelist" name="[坏笑]">😈</span>
			<span class="RongIMExpression_ink  facelist" name="[眨眼]">😉</span>
			<span class="RongIMExpression_xpressionless  facelist" name="[面无表情]">😑</span>
			<span class="RongIMExpression_namused  facelist" name="[一脸不快]">😒</span>
			<span class="RongIMExpression_weat  facelist" name="[汗]">😓</span>
			<span class="RongIMExpression_ensive  facelist" name="[哀思]">😔</span>
			<span class="RongIMExpression_onfused  facelist" name="[迷茫]">😕</span>
			<span class="RongIMExpression_onfounded  facelist" name="[困惑的]">😖</span>
			<span class="RongIMExpression_issing_heart  facelist" name="[亲一个]">😘</span>
			<span class="RongIMExpression_age  facelist" name="[愤怒]">😡</span>
			<span class="RongIMExpression_ob  facelist" name="[哭泣]">😭</span>
			<span class="RongIMExpression_ersevere  facelist" name="[使劲]">😣</span>
			<span class="RongIMExpression_riumph  facelist" name="[生气]">😤</span>
			<span class="RongIMExpression_earful  facelist" name="[可怕]">😨</span>
			<span class="RongIMExpression_eary  facelist" name="[厌倦]">😩</span>
			<span class="RongIMExpression_old_sweat  facelist" name="[冷汗]">😰</span>
			<span class="RongIMExpression_cream  facelist" name="[惊叫]">😱</span>
			<span class="RongIMExpression_stonished  facelist" name="[惊讶]">😲</span>
			<span class="RongIMExpression_lushed  facelist" name="[呆住]">😳</span>
			<span class="RongIMExpression_leeping  facelist" name="[睡眠]">😴</span>
			<span class="RongIMExpression_izzy_face  facelist" name="[断电了]">😵</span>
			<span class="RongIMExpression_o_mouth  facelist" name="[无口]">😶</span>
			<span class="RongIMExpression_ask  facelist" name="[病了]">😷</span>
			<span class="RongIMExpression_icrophone  facelist" name="[KTV]">🎤</span>
			<span class="RongIMExpression_ame_die  facelist" name="[色子]">🎲</span>
			<span class="RongIMExpression_usical_note  facelist" name="[音乐]">🎵</span>
			<span class="RongIMExpression_asketball  facelist" name="[篮球]">🏀</span>
			<span class="RongIMExpression_nowboarder  facelist" name="[单板滑雪]">🏂</span>
			<span class="RongIMExpression_ouse_with_garden  facelist" name="[房子]">🏡</span>
			<span class="RongIMExpression_ahjong  facelist" name="[麻将]">🀄</span>
			<span class="RongIMExpression_ulb  facelist" name="[灯泡]">💡</span>
			<span class="RongIMExpression_nger  facelist" name="[爆筋]">💢</span>
			<span class="RongIMExpression_omb  facelist" name="[炸弹]">💣</span>
			<span class="RongIMExpression_zz  facelist" name="[ZZZ]">💤</span>
			<span class="RongIMExpression_hit  facelist" name="[狗屁]">💩</span>
			<span class="RongIMExpression_uscle  facelist" name="[肌肉]">💪</span>
			<span class="RongIMExpression_oneybag  facelist" name="[钱袋]">💰</span>
			<span class="RongIMExpression_ooks  facelist" name="[书籍]">📚</span>
			<span class="RongIMExpression_elephone_receiver  facelist" name="[电话]">📞</span>
			<span class="RongIMExpression_oudspeaker  facelist" name="[扩音器]">📢</span>
			<span class="RongIMExpression_top  facelist" name="[停止]">🚫</span>
			<span class="RongIMExpression_hower  facelist" name="[淋浴]">🚿</span>
			<span class="RongIMExpression_arth_asia  facelist" name="[土]">🌏</span>
			<span class="RongIMExpression_unflower  facelist" name="[向日葵]">🌻</span>
			<span class="RongIMExpression_ice  facelist" name="[饭]">🍚</span>
			<span class="RongIMExpression_hocolate_bar  facelist" name="[巧克力]">🍫</span>
			<span class="RongIMExpression_eers  facelist" name="[啤酒]">🍻</span>
			<span class="RongIMExpression_ist  facelist" name="[拳头]">✊</span>
			<span class="RongIMExpression_k_hand  facelist" name="[没问题]">👌</span>
			<span class="RongIMExpression_  facelist" name="[1]">👍</span>
			<span class="RongIMExpression_1  facelist" name="[-1]">👎</span>
			<span class="RongIMExpression_lap  facelist" name="[拍]">👏</span>
			<span class="RongIMExpression_amily  facelist" name="[家庭]">👪</span>
			<span class="RongIMExpression_ouple  facelist" name="[情侣]">👫</span>
			<span class="RongIMExpression_rimacing  facelist" name="[鬼脸]">😬</span>
			<span class="RongIMExpression_host  facelist" name="[鬼]">👻</span>
			<span class="RongIMExpression_ngel  facelist" name="[天使]">👼</span>
			<span class="RongIMExpression_lien  facelist" name="[外星人]">👽</span>
			<span class="RongIMExpression_mp  facelist" name="[恶魔]">👿</span>
			<span class="RongIMExpression_ill  facelist" name="[药]">💊</span>
			<span class="RongIMExpression_iss  facelist" name="[吻]">💋</span>
			<span class="RongIMExpression_ing  facelist" name="[戒指]">💍</span>
			<span class="RongIMExpression_un  facelist" name="[枪]">🔫</span>
			<span class="RongIMExpression_lush  facelist" name="[脸红]">😊</span>
			<span class="RongIMExpression_um  facelist" name="[馋]">😋</span>
			<span class="RongIMExpression_elieved  facelist" name="[安心]">😌</span>
			<span class="RongIMExpression_eart_eyes  facelist" name="[色色]">😍</span>
			<span class="RongIMExpression_unglasses  facelist" name="[墨镜]">😎</span>
			<span class="RongIMExpression_mirk  facelist" name="[傻笑]">😏</span>
			<span class="RongIMExpression_issing_closed_eyes  facelist" name="[接吻]">😚</span>
			<span class="RongIMExpression_tuck_out_tongue_winking_eye  facelist" name="[搞怪]">😜</span>
			<span class="RongIMExpression_tuck_out_tongue_closed_eyes  facelist" name="[恶作剧]">😝</span>
			<span class="RongIMExpression_isappointed  facelist" name="[失望的]">😞</span>
			<span class="RongIMExpression_nguished  facelist" name="[苦涩]">😟</span>
			<span class="RongIMExpression_leepy  facelist" name="[困]">😪</span>
			<span class="RongIMExpression_ired_face  facelist" name="[抓狂]">😫</span>
			<span class="RongIMExpression_ry  facelist" name="[哭]">😢</span>
			<span class="RongIMExpression_ushed  facelist" name="[寂静]">😯</span>
			<span class="RongIMExpression_peak_no_evil  facelist" name="[不说话]">🙊</span>
			<span class="RongIMExpression_ray  facelist" name="[祈祷]">🙏</span>
			<span class="RongIMExpression_oon  facelist" name="[月亮]">🌙</span>
			<span class="RongIMExpression_vergreen_tree  facelist" name="[树]">🌲</span>
			<span class="RongIMExpression_ose  facelist" name="[玫瑰]">🌹</span>
			<span class="RongIMExpression_atermelon  facelist" name="[西瓜]">🍉</span>
			<span class="RongIMExpression_eat_on_bone  facelist" name="[肉]">🍖</span>
			<span class="RongIMExpression_cecream  facelist" name="[冰淇淋]">🍦</span>
			<span class="RongIMExpression_ine_glass  facelist" name="[酒]">🍷</span>
			<span class="RongIMExpression_ift  facelist" name="[礼物]">🎁</span>
			<span class="RongIMExpression_irthday  facelist" name="[生日]">🎂</span>
			<span class="RongIMExpression_hristmas_tree  facelist" name="[圣诞]">🎄</span>
			<span class="RongIMExpression_ada  facelist" name="[礼花]">🎉</span>
			<span class="RongIMExpression_ortar_board  facelist" name="[毕业]">🎓</span>
			<span class="RongIMExpression_orse  facelist" name="[马]">🐴</span>
			<span class="RongIMExpression_og  facelist" name="[狗]">🐶</span>
			<span class="RongIMExpression_ig  facelist" name="[猪]">🐷</span>
			<span class="RongIMExpression_rown  facelist" name="[王冠]">👑</span>
			<span class="RongIMExpression_ipstick  facelist" name="[口红]">💄</span>
			<span class="RongIMExpression_roken_heart  facelist" name="[伤心]">💔</span>
			<span class="RongIMExpression_ire  facelist" name="[火了]">🔥</span>
			<span class="RongIMExpression_ime  facelist" name="[时间]">🕖</span>
			<span class="RongIMExpression_ee_no_evil  facelist" name="[不看]">🙈</span>
			<span class="RongIMExpression_ear_no_evil  facelist" name="[不听]">🙉</span>
			<span class="RongIMExpression_ocket  facelist" name="[火箭]">🚀</span>
			<span class="RongIMExpression_tar  facelist" name="[星星]">⭐</span>
			<span class="RongIMExpression_larm_clock  facelist" name="[钟表]">⏰</span>
			<span class="RongIMExpression_ourglass_flowing_sand  facelist" name="[沙漏]">⏳</span>
			<span class="RongIMExpression_ap  facelist" name="[闪电]">⚡</span>
			<span class="RongIMExpression_occer  facelist" name="[足球]">⚽</span>
			<span class="RongIMExpression_nowman  facelist" name="[雪人]">⛄</span>
			<span class="RongIMExpression_artly_sunny  facelist" name="[多云]">⛅</span>
			<span class="RongIMExpression_oint_up  facelist" name="[第一]">☝</span>
			<span class="RongIMExpression_elaxed  facelist" name="[轻松]">☺</span>
			<span class="RongIMExpression_unch  facelist" name="[拳]">👊</span>
			<span class="RongIMExpression_and  facelist" name="[手]">✋</span>
			<span class="RongIMExpression_  facelist" name="[v]">✌</span>
			<span class="RongIMExpression_encil2  facelist" name="[笔]">✏</span>
			<span class="RongIMExpression_unny  facelist" name="[晴朗]">☀</span>
			<span class="RongIMExpression_loud  facelist" name="[云]">☁</span>
			<span class="RongIMExpression_mbrella  facelist" name="[伞]">☔</span>
			<span class="RongIMExpression_ofallee  facelist" name="[咖啡]">☕</span>
			<span class="RongIMExpression_nowflake  facelist" name="[雪花]">❄</span>

		</div>

		<div id="msgPopover" class="mui-popover">
			<span id='copy'>复制</span>
		</div>

		<div id='sound-alert' class="rprogress">
			<div class="rschedule"></div>
			<div class="r-sigh">!</div>
			<div id="audio_tips" class="rsalert">手指上滑，取消发送</div>
		</div>
	</body>

</html>